<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWnTEHW_XqjTxky02cDxn8mjuMtW7hIPg</string>
	<key>GCM_SENDER_ID</key>
	<string>233047137725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stasboiko.PizzaDelivery</string>
	<key>PROJECT_ID</key>
	<string>pizzadelivery-11054</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzadelivery-11054.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233047137725:ios:e9365d1f8d1fb6b723c6d4</string>
</dict>
</plist>